function toDate(time) {
  var date = getDate(time);
  var Y = date.getFullYear() + '/';
  var M =
    (date.getMonth() + 1 < 10
      ? '0' + (date.getMonth() + 1)
      : date.getMonth() + 1) + '/';
  var D = date.getDate() < 10 ? '0' + date.getDate() : date.getDate();
  var res = Y + M + D;
  return res;
}
module.exports.toDate = toDate;